*.bat            eol=crlf
*.cff            text
*.gif            binary
*.jpg            binary
*.md             text
*.otf            binary
*.png            binary
*.py             text
*.rst            text
*.text           text
*.toml           text
*.yaml           text
.deepsource.toml text
.editorconfig    text
.flake8          text
.gitattributes   text
.gitignore       text
py.typed         text
