*.bat            text eol=crlf
*.cff            text eol=crlf
*.gif            binary
*.jpg            binary
*.md             text eol=crlf
*.otf            binary
*.png            binary
*.py             text eol=crlf
*.rst            text eol=crlf
*.text           text eol=crlf
*.toml           text eol=crlf
*.yaml           text eol=crlf
.deepsource.toml text eol=crlf
.editorconfig    text eol=crlf
.flake8          text eol=crlf
.gitattributes   text eol=crlf
.gitignore       text eol=crlf
py.typed         text eol=crlf
