more-itertools
Pillow
platformdirs

blender-stubs [build]
build [build]
coverage [build]
flake8 [build]
mypy [build]
pip [build]
pycodestyle [build]
pylint [build]
pyright [build]
pytest [build]
ruff [build]
Sphinx [build]
twine [build]
types-requests [build]

autoflake [clean]
black [clean]
isort [clean]
pydocstringformatter [clean]
pyupgrade [clean]

requests [demo]

dearpygui [gui]
pygame [gui]
windows-curses [gui] ; sys_platform == "win32" ; python_version < "3.12"
