autoflake
black
blender-stubs
build
coverage
dearpygui
flake8
isort
more-itertools
mypy
Pillow
pip
platformdirs
pycodestyle
pydocstringformatter
pygame
pylint
pyright
pytest
pyupgrade
requests
ruff
Sphinx
twine
types-requests
windows-curses
